# Игнорировать все файлы
*

# Исключить файлы *.h и *.cpp
!*.h
!*.cpp

# Исключить директории с файлами *.h и *.cpp
!*/

# Исключить специфичные для Qt и компиляции файлы
build/
*.pro.user
*.pro.user.*
*.qmake.stash
*.qmake.cache
*.moc/
*.obj/
*.o/
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe
*.app
*.pyc
*.pyo
*.user
*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db
